numpy==2.4.4
pillow==12.2.0
pyproj==3.7.2
requests==2.33.1
Rtree==1.4.1
shapely==2.1.2
scikit-fmm==2025.6.23
gdal==3.12.3; platform_system == 'Darwin'
gdal==3.12.2; platform_system == 'Windows'
gdal==3.9.0; platform_system == 'Linux'